*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    background-color: white;
}

header{
    text-align: center;
    margin-top: 30px;
    color: green;
}

.game{
    width: 60%;
    height: max-content;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    background-color: greenyellow;
}

.player-section{
    padding: 20px 0;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.player-choice{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

select{
    width: 45%;
    height: max-content;
    padding: 5px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.weapon{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.choices button{
    width: 45%;
    margin: 0 10px;
    background-color: white;
    border: 0.5px solid gray;
    padding: 3px 0;
    border-radius: 5px;
    cursor: pointer;
}


#start-restart{
    display: block;
    margin: 30px auto 0 auto;
    width: 30%;
    background-color: white;
    border: 0.5px solid gray;
    padding: 7px 0;
    border-radius: 5px;
    cursor: pointer;
}

.game-board{
    background-color: greenyellow;
    max-width: 240px;
    min-height: 240px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game-board button{
    background-color: greenyellow;
    border: 0.5px solid black;
    cursor: pointer;
    outline: none;
    font-size: 30px;
    font-weight: 500;
    min-height: 80px;
    max-width: 80px;
}

#button-0, #button-1, #button-2{
    border-top: none;
}

#button-0, #button-3, #button-6{
    border-left: none;
}

#button-6, #button-7, #button-8{
    border-bottom: none;
}

#button-2, #button-5, #button-8{
    border-right: none;
}

#announce-winner{
    height: 10%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
    font-size: 30px;
    text-align: center;  
    padding: 10px;
}